html{
    font-size: 16px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;

    font: 16px/1.5 Arial, Helvetica, sans-serif
}
body, table, input{
    font: inherit;
}
body{
    background-color:blue;
}